
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
    <title>Home Page</title>
</head>
<body>
    <!-- Showcase $ Nav-->
    <div class="showcase">
      <div class="overlay">      
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="#">MySite</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Our Work</a>
                    </li>
                   
                    <li class="nav-item">
                      <a class="nav-link " href="#">Services</a>
                    </li>
                    <li class="nav-item">
                            <a class="nav-link " href="#">About Us</a>
                    </li>
                  </ul>
                </div>
              </nav>
       <div class="container tunes text-center">
            <h1>Our Shopping Market</h1>
           <h2> less prices and high quilty, shopping online shows take center stage.</h2>
           <p class="hide-list-item">imperdiet ullamcorper erat. Ut augue ex, consectetur quis sodales convallis, luctus nec dui.
           <!-- <br></br> -->
           imperdiet ullamcorper erat. Ut augue ex, consectetur quis sodales convallis,</p>
            <a routerLink= "/signin" class="login-component">Login</a>
            <a routerLink="/signup" class="signup-component">Sign UP</a>
           
       </div>
    </div>
  </div>
    <!--End ShowCase-->

     <!-- Start Services Section-->
<div class="service-section" id="about">
    <div class=" text-center">
        <h2 class="text-uppercase">why this is awesome</h2>
        <p class="text-center">imperdiet ullamcorper erat. Ut augue ex, consectetur quis sodales convallis, luctus nec dui</p>
    </div>
    <div class="row">
        <div class="col-md-4 text-center">
            <i class="fa fa-home fa-2x ico"></i>
            <h4 class="text-uppercase"><b>well crafted</b></h4>
            <p >imperdiet ullamcorper erat. Ut augue ex, consectetur quis sodales convallis, luctus nec dui.

            
                    Fusce sagittis elit neque, eget tincidunt eros
                                   
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-unlock fa-2x ico"></i>
            <h4 class="text-uppercase"><b>easy to customize</b></h4>
            <p >imperdiet ullamcorper erat. Ut augue ex, consectetur quis sodales convallis, luctus nec dui.

            
                    Fusce sagittis elit neque, eget tincidunt eros
                 
                   
        </div>
        <div class="col-md-4 text-center">
            <i class="fa fa-compass fa-2x ico"></i>
            <h4 class="text-uppercase"><b>thoughtful design</b></h4>
            <p >imperdiet ullamcorper erat. Ut augue ex, consectetur quis sodales convallis, luctus nec dui.

                               Fusce sagittis elit neque, eget tincidunt eros
              
                   
        </div>
    </div>
</div>
<!-- End service Section-->

   <!--Start Music Section-->
    <div class="music text-center container">
        <h1><span class="music-icon"><i class="fa fa-music" aria-hidden="true"></i> </span> Shopping</h1>
        <h2>Fusce sagittis elit neque,</h2>
        <p class="music-desc hide-list-item">Fusce sagittis elit neque,.Fusce sagittis elit neque, tFusce sagittis elit neque,Fusce sagittis elit neque,Fusce sagittis elit neque,
        <!-- <br></br>library — no matter where it came from — lives right alongside the Orange Music catalog. Start your free three-month trial with no  -->
      <!-- <br></br> commitment, and cancel anytime.</p> -->
        <p>Orange Music is available in myTunes, and for iOS and Android devices.</p>
        <a href="#" class="login-component">Subscribe Now</a>

    </div>


</body>
</html>
