@import '../../sass/_variables.scss';
@import '../../sass/_mixin.scss';
@import '../../sass/_components.scss';

.signup{
    position: relative;
    background: url(../../img/signup.jpg) no-repeat center/cover ;
    background-color: $main-color;
    height:$heightFull;

    .overlay{
        @include overlay;
            background-color: rgba(black,.9);
            height:100vh;
    }
    h2{
        color:$white-color;
        padding:10px 0px;
    }
}